@use 'variables';

.back-to-top {
  color: variables.$backtotop-color; 
  position: static;
  bottom: 1rem;
  cursor: pointer;

  &:hover {
    color: variables.$hover-color;
  }

  i {
    font-size: 45px;
    margin-bottom: 2rem;
  }
  
}
