.nav-bar, .write-tweet {
  align-items: center;
}

.nav-bar, .write-tweet {
  display: flex;
}

.nav-bar {
  height: 120px;
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
  position: absolute;
  flex-direction: row;
  padding: 1.5em;
  z-index: 10;
  justify-content: space-between;
}
.nav-bar #logo {
  font-size: 3rem;
}

.write-tweet {
  flex-direction: column;
  justify-content: center;
}
.write-tweet:hover {
  cursor: pointer;
}
.write-tweet p {
  padding-bottom: 5%;
  margin-bottom: -1px;
}
.write-tweet i {
  animation: up-down 2s ease-in-out infinite;
}
@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
}

.fa-angles-down {
  color: red;
  font-size: 32px;
  margin-bottom: 7%;
}
.fa-angles-down:hover {
  color: #4056A1;
}

.no-display {
  display: none;
}
