
.new-tweet {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.new-tweet textarea {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  background-color: inherit;
  font-weight: bold;
  outline: none;
  resize: none;
  border-top: none;
  border-right: none;
  border-left: none;
}

.new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
}

.new-tweet button:hover {
  box-shadow: 0.25rem 0.25rem rgb(127, 111, 153);
}

.new-tweet button:active {
  background-color: #e49c18;
}


.new-tweet div {
  font-family: "Bungee";
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.line-border {
  border: none;
  border-bottom: 4px solid #545149;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 28px;
}

.red {
  color: red;
}